<section id="heroBanner" class='bgLevel0'>
    <%- include('partials/banner') %>
</section>
<article id="aboutArticle" class="bgLevel1">
    <%- include('partials/about') %>
</article>

<article id="portfolio" class="bgLevel2">
    <%- include('partials/portfolio') %>
</article>
<article id="skillsBoxes" class="bgLevel3 skillsBoxes">
    <%- include('partials/skills') %>
</article>
<article id="certificates" class="bgLevel4">
    <%- include('partials/certificates') %>
</article>