<section id="heroBanner" class='bgLevel0'>
    <%- include('banner') %>
</section>
<article id="aboutArticle" class="bgLevel1">
    <%- include('about') %>
</article>

<article id="portfolio" class="bgLevel2">
    <%- include('portfolio') %>
</article>
<article id="skillsBoxes" class="bgLevel3 skillsBoxes">
    <%- include('skills') %>
</article>
<article id="certificates" class="bgLevel4">
    <%- include('certificates') %>
</article>